{
  "presets": [
    ["@babel/preset-env", { 
      "targets": { "node": "current" },
      "modules": "commonjs"
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "./tests/transformImportMetaEnv.cjs",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
} 
