backend/matchmaking.log
matchmaking.log
.coverage
__pycache__/
*.py[cod]
backend/__pycache__/
backend/services/__pycache__/
backend/.pytest_cache/
backend/venv/
backend/.coverage
backend/users.json
backend/queue.json
backend/tests/__pycache__/
backend/tests/**/*.pyc
backend/*.db
backend/*.sqlite3
squadjs/node_modules/
squadjs/config.json
squadjs/*.tmp
backend/.env
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.vscode/
frontend/cypress/
desktop.ini
