*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light;
  font-size: 90%;
  scrollbar-gutter: stable;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
  font: inherit;
}
