http://cmp.zapto.org {
    redir https://cmp.zapto.org{uri} permanent
}

https://cmp.zapto.org {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:5000
    }

    handle /socket.io* {
        reverse_proxy backend:5000
    }

    handle {
        reverse_proxy frontend:80
    }
}
