(cmp_app) {
    handle /api/* {
        reverse_proxy backend:5000
    }

    handle /socket.io* {
        reverse_proxy backend:5000
    }

    handle {
        reverse_proxy frontend:80
    }
}

http://{$CMP_PUBLIC_HOST} {
    redir https://{$CMP_PUBLIC_HOST}{uri} permanent
}

https://{$CMP_PUBLIC_HOST} {
    import cmp_app
}

http://127.0.0.1 {
    respond /healthz "ok" 200
}

http://localhost {
    import cmp_app
}

https://localhost {
    import cmp_app
}
